* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img {
  width: 100%;
  height: 16rem;
}

.underline {
  font-style: italic;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.content-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
